<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form ng-submit="register.submit()">

      <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" ng-model="register.user.email" class="form-control">
      </div>

      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" ng-model="register.user.password" class="form-control">
      </div>

      <div>
        <label for="passwordConfirmation">Password Confirmation</label>
        <input type="password" name="passwordConfirmation" id="passwordConfirmation" ng-model="register.user.passwordConfirmation" class="form-control">
      </div>

      <div>
        <label for="firstname">Firstname</label>
        <input type="text" name="firstname" id="firstname" ng-model="register.user.firstname" class="form-control">
      </div>

      <div>
        <label for="lastname">Lastname</label>
        <input type="text" name="lastname" id="lastname" ng-model="register.user.lastname" class="form-control">
      </div>
      <br>
      <button class="btn btn-primary btn-block">Register</button>
    </form>
  </div>
</div>
