<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <div class="new">
      <div class="customer">
        <h1>New Customer</h1>
      </div>
      <form ng-submit="submissionsNew.create()" class="newCustomerForm">

        <h5>Services</h5>
        <div>
          <ul id="service">
            <li>
              <input type="radio" name="service" id="housing" value="housing" ng-model="submissionsNew.submission.service">
              <lable for="service">Housing</lable>
            </li>

          <li>
            <input type="radio" name="service" id="benifits" value="benifits" ng-model="submissionsNew.submission.service">
            <lable for="service">Benifits</lable>
          </li>

          <li>
            <input type="radio" name="service" id="counciltax" value="counciltax" ng-model="submissionsNew.submission.service">
            <lable for="service">Council Tax</lable>
          </li>

          <li>
            <input type="radio" name="service" id="flytipping" value="flytipping" ng-model="submissionsNew.submission.service">
            <lable for="service">Fly-Tipping</lable>
          </li>

          <li>
            <input type="radio" name="service" id="missedbin" value="missedbin" ng-model="submissionsNew.submission.service">
            <lable for="service">Missed Bin</lable>
          </li>
        </ul>
        </div>

        <div>
          <input type="radio" name="category" id="citizen" value="citizen" ng-model="submissionsNew.submission.category">
          <lable for="category">Citizen</lable>

          <input type="radio" name="category" id="organisation" value="organisation" ng-model="submissionsNew.submission.category">
          <lable for="category">Organisation</lable>

          <input type="radio" name="category" id="annonymous" value="annonymous" ng-model="submissionsNew.submission.category">
          <lable for="category">Annonymous</lable>
        </div>

        <div class="userForm">
          <label for="title">Title</label>
          <select name="title" id="title" ng-model="submissionsNew.submission.title" class="form-control">
            <option selected="selected" disabled>Choose a title</option>
            <option value="Mr">Mr.</option>
            <option value="Ms">Ms.</option>
            <option value="Mrs">Mrs.</option>
            <option value="Miss">Miss.</option>
            <option value="Dr">Dr</option>
            <option value="Lady">Lady</option>
            <option value="Lord">Lord</option>
          </select>
        </div>

        <div>
          <label for="firstname">First Name</label>
          <input type="text" name="firstname" id="firstname" ng-model="submissionsNew.submission.firstname" class="form-control">
        </div>
        <div>
          <label for="lastname">Last Name</label>
          <input type="text" name="lastname" id="lastname" ng-model="submissionsNew.submission.lastname" class="form-control">
        </div>
        <br>
        <button class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>
  </div>
</div>
